/*
 *= require_tree .
 *= require_self
 */

@import 'font-awesome-sprockets';
@import 'font-awesome';

@font-face {
  font-family: 'toppan';
  src: asset_url('ToppanBunkyuMidashiGothicStdN-ExtraBold.otf') format('truetype');
       /*src: url('fonts/MPLUSRounded1c-Medium.ttf') format('truetype');*/
}

body{
  margin: 0;
  font-family: 'toppan';
  /*font-family: 'Toppan Bunkyu Midashi Gothic'; font-weight: bold;*/
  /*background-image: image-url("background.png");*/
  font-size: 20px;
  background: #ffe9e3;
}

.right,
.left{
  position: relative;
  display: inline-block;
  padding: 10px 2%;
  max-width: 45%;
  background: white;
  text-align: left;
  border-radius: 10px;
}

.right{
  margin: 0 15px 0 0;
  vertical-align: top;
}

.right:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid white;
}

.left{
  margin: 0 0 0 15px;
  vertical-align: top;
}

.left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid white;
}

.customer_image{
  width: 15%;
  display: inline-block;
}

.customer_image img{
  width: 100%;
}




.content_wrapper{
  display: flex;
  width: 60%;
  margin: 0 auto;
}

.content_inner{
  width: 100%;
  text-align: center;
}

.top_image_wrapper{
  width: 100%;
}

.top_image_wrapper img{
  width: 100%;
}

.show_second_container{
  padding-bottom: 50px;
  padding-top: 50px;
}

.title{
  text-align: center;
}

.first_section_container,
.second_section_container{
  padding-top: 20px;
}

.first_section_wrapper,
.second_section_wrapper{
  display: flex;
  margin-right: 2%;
}

.second_span{
  font-size: 23px;
  font-weight: bold;
}


.title_wrapper {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 15px 0;
  width: 100%;
  font-size: 16px;
  background: #ffc0d0;
}

.title_wrapper:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #ffc0d0;
}

.title_wrapper h2 {
  margin: 0;
  padding: 0;
}

.hukidashi_image_wrapper{
  width: 70%;
  margin: 0 auto;
}

.hukidashi_image_wrapper img{
  width: 100%;
}



.first_section h2,
.forth_section h2,
.fee_wrapper h2{
  text-align: center;
  /*font-size: 30px;*/
}

.fee_image{
  width: 100%;
}

.fee_image img{
  width: 100%;
}

.h2_mobile{
  display: none;
}

.forth_section h2,
.fee_wrapper h2{
  margin-top: 100px;
}

.first_section_image_wrapper,
.second_section_image_wrapper{
  width: 50%;
  height: 230px;
  /*margin-left: 10%;*/
  text-align: center;
  position: relative;
}

.first_section_image_wrapper img,
.second_section_image_wrapper img{
  width: auto;
  height: 80%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.first_section_text_wrapper,
.second_section_text_wrapper{
  width: 50%;
  /*margin-right: 10%;*/
  text-align: center;
  position: relative;
  /*font-size: 23px;*/
  border-radius: 20px;
  /*box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);*/
  border: 1px solid black;
}

.first_section_wrapper p,
.second_section_wrapper p{
  width: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  line-height: 1.5;
}

.first_section_second .first_section_image_wrapper,
.second_section_second .second_section_image_wrapper{
  /*margin-left: 0;
  margin-right: 10%;*/
}

.first_section_second .first_section_text_wrapper,
.second_section_second .second_section_text_wrapper{
  /*margin-left: 10%;
  margin-right: 0;*/
}

.seruraito_image_wrapper img{
  width: 100%;
}

/*.side_wrapper{
  width: 25%;
  margin-left: 3%;
}*/

.side_inner,
.side_inner_Vertical{
  margin-top: 100px;
  text-align: center;
}

.side_inner img{
  width: 100%;
}

.graph_text{
  margin-top: 50px;
  margin-bottom: 30px;
}

.graph_inner{
  width: 80%;
  margin: 0 auto;
}

.graph_inner p{
  text-align: center;
}

.graph_inner img{
  width: 100%;
}

.scene_wrapper{
  margin: 30px 0 50px 0;
}

.scene_content_wrapper{
  display: flex;
}

.scene_content_wrapper p{
  margin: 0px;
}


.scene{
  width: 33.3%;
}

.scene_text{
  font-size: 23px;
}

.scene_inner{
  height: 270px;
  border-radius: 50%;
  position: relative;
  /*box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);*/
  background: white;
  overflow: hidden;
}

.scene_inner img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  height: 100%;
}

.scene_content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
  font-size: 22px;
}

.fee_introduction_wrapper{
  margin-top: 50px;
  margin-bottom: 50px;
}

.fee_introduction_inner{
  border-radius: 20px;
  width: 80%;
  padding: 5% 0;
  text-align: center;
  /*box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .5);*/
  margin: 0 auto;
  background: white;
}

.breakdown_wrapper{
  margin-top: 30px;
}

.breakdown_wrapper p{
  margin: 0 0 10px 0;
}

.breakdown_title{
  font-size: 18px;
}

.fee_warning{
  font-size: 12px;
}

.fee_text{
  text-decoration: underline;
}

.fee_high{
  background: linear-gradient(-10deg, transparent, transparent 45%, black 40%, black 50%, transparent 51%, transparent);
}

.fee_low{
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
}

.fee_low_sub{
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
}

.benefits_container{
  margin-top: 50px;
  margin-bottom: 50px;
}

.benefit_container_text span{
  text-decoration: underline;
  font-size: 25px;
  font-weight: bold;
}

.benefits_inner{
  display: flex;
  /*box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .5);*/
  border-radius: 20px;
  padding: 20px 10px;
  width: 95%;
  margin: 20px auto 0;
  background: white;
}


.benefit_point_number{
  font-size: 30px;
  margin-top: 22px !important;
}

.benefit_content_wrapper{
  width: 80%;
  text-align: left;
}

.benefit_content_inner{
  font-size: 1.3rem;
  font-weight: bold;
}

.benefit_content_sub{
  font-size: 15px;
}

.benefits_wrapper p{
  margin: 10px 0;
}

.solution_wrapper{
  margin-top: 50px;
}

.marker{
  background: linear-gradient(transparent 0%, #fcea90 0%);
  font-weight: bold;
}

.fee_marker{
  background: linear-gradient(transparent 0%, #fcea90 0%);
  font-weight: bold;
}

.font_size{
  /*font-size: 23px;*/
  color: #de3c3c;
}

.bold{
  font-weight: bold;
  /*font-size: 20px;*/
}

.underline{
  text-decoration: underline;
}

.arrow{

}

.guid{
  margin-top: 30px;
  font-size: 22px;
  margin-bottom: 0;
}

.ad_wrapper a{
  display: inline-block;
  padding: 1em 3em;
  text-decoration: none;
  background: orange;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px black;
  border-radius: 3px;
}

.ad_wrapper a:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.ad_wrapper_img{
  margin-top: 30px;
}

.offer_wrapper{
  margin-top: 50px;
}

.offer_inner{
  margin-top: 50px;
}

.offer_inner p a{
  font-size: 20px;
}

.show_point_wrapper{
  width: 65%;;
  padding: 50px 0 30px;
  border-radius: 20px;
  /*box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .5);*/
  font-size: 1.2rem;
  text-align: center;
  margin: 0 auto 50px;
  border: 1px solid black;
}

.show_point_wrapper h3{
  margin: 0;
}

.show_point_image{
  width: 100%;
}

.show_point_image img{
  width: 100%;
}

.footer_wrapper{
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .5);
  background: white;
  line-height: 60px;
}

.footer_wrapper p{
  margin: 0;
  text-align: center;
}

.action_wrapper{
  margin-top: 80px;
  margin-bottom: 50px;
}

.line_height{
  line-height: 2;
}

.cabitation_wrapper{
  margin-top: 50px;
}

.cabitation_image_wrapper,
.go_image_wrapper{
  width: 100%;
  margin: 0 auto;
}

.cabitation_image_wrapper img,
.go_image_wrapper img{
  width: 100%;
}

.red{
  color: #ea5455;
}

.text{
  margin: 30px 0;
}






@media(max-width: 670px){
  .first_section{
    font-size: 18px;
  }

  .first_section h2{
    font-size: 25px;
  }

  .side_wrapper{
    display: none;
  }

  .content_wrapper{
    width: 95%;
  }

  .content_inner{
    width: 100%;
  }

  .first_section_image_wrapper,
  .second_section_image_wrapper{
    width: 50%;
    height: 150px;
    margin-left: 0%;
  }

  .first_section_text_wrapper,
  .second_section_text_wrapper{
    width: 50%;
    margin-right: 0%;
    font-size: 15px;
  }

  .first_section_second .first_section_image_wrapper,
  .second_section_second .second_section_image_wrapper{
    margin-right: 0%;
  }

  .first_section_second .first_section_text_wrapper,
  .second_section_second .second_section_text_wrapper{
    margin-left: 0%;
  }

  .first_section_image_wrapper img,
  .second_section_image_wrapper img{

  }

  .first_section_wrapper,
  .second_section_wrapper{
    margin-right: 0;
  }

  .fee_introduction_wrapper{
    width: 100%;
  }

  .show_point_wrapper{
    width: 100%;
  }

  .show_title_inner{
    bottom: -80px;
    right: 0%;
    padding: 20px 25px;
  }

  .show_title_inner p{
    font-size: 0.9rem !important;
    width: 100%;
    margin: 0 auto;
  }

  .show_title_wrapper p{
    font-size: 1.2rem;
  }

  .benefits_inner{
    width: 95%;
  }

  .benefits_point_wrapper{
    width: 15%;
  }

  .benefit_content_wrapper{
    width: 85%;
  }

  .review_modal{
    width: 98%;
  }

  .scene_content_wrapper{
    display: block;
  }

  .scene{
    width: 90%;
    margin: 30px auto;
  }

  .scene_inner{
    height: 250px;
  }

  .guid_wrapper{
    width: 80%;
  }

  .guid_wrapper p{
    margin: 0;
  }

  .second_section .ad_wrapper{
    margin-bottom:  10px;
  }

  .first_section_wrapper p,
  .second_section_wrapper p{
    font-size: 0.8rem;
  }

  .seruraito_image_wrapper img{
    width: 100%;
  }

  .graph_wrapper{
    display: block;
  }

  .graph_inner{
    width: 90%;
    margin: 30px auto 0;
  }

  .ad_wrapper{
    text-align: center;
  }

  .show_point_wrapper{
    padding: 50px 0 30px;
  }

  .ad_wrapper_img{
    text-align: center;
  }

  .ad_wrapper a{
    padding: 1rem 0;
    width: 100%;
  }

  .fee_introduction_inner{
    width: 100%;
  }

  .cabitation_image_wrapper,
  .go_image_wrapper{
    width: 100%;
  }

  .benefit_container_text{
    text-align: center;
  }

  .right,
  .left{
    max-width: 60%;
    vertical-align: middle;
    font-size: 17px;
  }

  .right{
    margin-right: 2%;
  }

  .left{
    margin-left: 2%;
  }

  .customer_image{
    width: 28%;
    vertical-align: middle;
  }

  .hukidashi_image_wrapper{
    width: 100%;
    margin: 30px 0 0;
  }

  .top_image{
    margin-bottom: 50px;
  }

  .text1{
    margin: 60px 0 0;
  }
}
